<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Capstone Project {% if title %}| {{ title }}{% endif %}
        </title>
        <meta name="description" content="{% if description %}{{ description }}
            {% else %}DG Capstone Project{% endif %}" />

        <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | url }}">
        
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
        
    </head>
    <body>
        <div class="main-content">
            <nav>
                <a href="/" class="nav-brand" title="Future College Success"><img src="/assets/images/home_icon.png" alt="Future College Success"></a>
                <ul class="fa-ul inline-navigation">
                    <li>
                        <a href="/steps" class="nav-item {% if page.url.includes('steps') %}nav-item-active{% endif %}"
                            >Steps</a
                        >
                    </li>
                    <li>
                        <a href="/templates" class="nav-item {% if page.url.includes('templates') %}nav-item-active{% endif %}"
                            >Templates</a
                        >
                    </li>
                    <li>
                        <a href="/whichtest" class="nav-item {% if page.url.includes('whichtest') %}nav-item-active{% endif %}"
                            >Which Test</a
                        >
                    </li>
                    <li>
                        <a href="/additional" class="nav-item {% if page.url.includes('additional') %}nav-item-active{% endif %}"
                            >Additional</a
                        >
                    </li>
                </ul>
               
            </nav>
            {% block content %} {{ content }} {% endblock %}
            <footer>
                <span></span><span class="fa-solid fa-circle"></span> <span class="name">Future College Success - Capstone Project</span>
            </footer>
        </div>
    </body>
</html>