---
eleventyComputed: 
    title: "Financial Aid"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="page-title">Financial Aid</h1>
    <p>Often, the main factor of which college people choose comes down to money. Typically in state options will be cheaper, but make sure to look at schools that have low costs to start. Addtionally, there are schools that give a lot of aid or merit scholarships. While these are not always gauranteed, it it good to add schools that are known to give out scholarships.</p>
    <p>There are many resources that exist for scholarships so be sure to not limit yourself to this list.</p>
    <ul>
        <li>For Colorado students looking to stay in state there is the Boettcher Foundations Scholarship. They give out 50 full-ride scholarships to any school in Colorado to the winners.</li>
        <li>Colleges will have school specific scholarships that open after applying or acceptance&#8212look out for those emails and portals.</li>
        <ul><li>Deadlines are typically two months after the deadline to apply to the school
</li></ul>
        <li>Cappex, Bold.org, scholarships.org</li>
        <li>CSS Profile, only some schools require it, some need it to be considered for even merit scholarships</li>
        <ul><li>After you finish the CSS Profile you will have to complete the IDOC</li></ul>
        <li>FAFSA, required by most schools to just apply, you will need your parents/guardians' assistance</li>
        <li>High School and county scholarships, ask your office personnel where to look and apply</li>
    </ul>
</main>
{% endblock %}