{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="display-title">Welcome to your College Application Journey!</h1>
    <p>This website has been designed to be a resource for aiding your applications. It may feel like there is a lot of data, remember that college is fun and to take breaks when needed.</p>
</main>
{% endblock %}