{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="display-title">Welcome to your College Application Journey!</h1>
    <p>This website has been designed to be a resource for aiding your applications. It may feel like there is a lot of data, remember that college is fun and to take breaks when needed. The site is laid out going left to right on the navigation bar but feel free to work in whatever order works for you. This journey is yours to take as you want. Additionally, this is my capstone project so please enjoy!</p>
    <img class="poster" src="/assets/images/Future College Success - Dylan Griffiths.pdf.png">
</main>
{% endblock %}