{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="display-title">Welcome to your College Application Journey!</h1>
    <p>Use the different pages to navigate around.</p>
</main>
{% endblock %}