---
eleventyComputed: 
    title: "Steps"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="inner-content">
    <h1 class="page-title">Steps</h1>
    <div class="steps-section">
        <p>This process can be very overwhelming but with organization and focus it will be a breeze. Work through these steps at comftorable pace, you don't want to burn out or go too slow.</p>
            <ul>
                <li>
                    Think about the classes that you enjoy in school and what are topics that you would like to further pursue.
                </li>
                <li>
                    Start to think of some careers. Keep in mind that while you can priotize the money jobs will make, it it important to puruse a career that will be fulfilling and enjoyable.
                </li>
                <li>
                    Form a list of colleges/univeristies that you think would be good matches. Do a bit of research but explore and see what you like. You can always use campuses in you local area just to see what parts you like or not (location, city size, architecture, student body, etc...) and apply what you find to schools across the nation, or even globe.
                </li>
                <div class="campuses">
                <figure><img class="img" src="/assets/images/tim-alex-s8fqX4_dBaM-unsplash.jpg">
                    <figcaption><a href="https://unsplash.com/photos/s8fqX4_dBaM">Tim Alex</a></figcaption></figure>
                <figure><img class="img" src="/assets/images/wonderlane-6zlgM-GUd6I-unsplash.jpg">
                    <figcaption><a href="https://unsplash.com/photos/6zlgM-GUd6I">Wonderlane</a></figcaption></figure>
                <figure><img class="img" src="/assets/images/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg">
                    <figcaption><a href="https://unsplash.com/photos/d6ebY-faOO0">Vadim Sherbakov</a></figcaption></figure>
                </div>
                <li>
                    It is now time to think about cost and prestige.
                <ol style="list-style-type: circle; padding-bottom: 0;">
  <li style="margin-left:2em">Certain colleges will give out better financial aid and merit scholarships.</li>
  <li style="margin-left:2em">Don't get wrapped up in the name. If you future career is in high demand, it may not be worth it to pay and pursue a "top" level school. Plenty of schools will provide an amazing education. Look at which schools recruiters in your future field value.</li>
                </ol>
                </li>
                <li>As you have looked at schools, reflect on what aspects you liked from each. Record that information in a helpful way to you (there is a Google Sheet template available if that would suite you).</li>
            </ul>
    </div>
</main>
{% endblock %}