---
eleventyComputed: 
    title: "Steps"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="inner-content">
    <h1 class="page-title">Steps</h1>
    <div class="steps-section">
        <p>This process can be very overwhelming but with organization and focus it will be a breeze. Work through these steps at comftorable pace, you don't want to burn out or go too slow.</p>
            <ul>
                <li>
                    <p>Think about the classes that you enjoy in school and what are topics that you would  like to further pursue.</p>
                </li>
                <li>
                    <p>Once you've identified what classes you enjoy start to think of some careers. Keep in mind that while you can priotize the money jobs will make, it it important to puruse a career that will be fulfilling and enjoyable.</p>
                </li>
                <li>
                    <p>Start to form a list of colleges/univeristies that you think would be good matches. Do a bit of research but right now explore and see what you like. You can always use campuses in you local area just to see what parts you like or not (locatio, city size, architecture, student body, etc...) and apply what you find to schools across the nation, or even globe.</p>
                </li>
                <li>
                    <p>It is now time to think about cost and prestige. </p>
                <ol style="list-style-type: circle; padding-bottom: 0;">
  <li style="margin-left:2em">Certain colleges will give out better financial aid and merit scholarships.</li>
  <li style="margin-left:2em">Don't get wrapped up in the name. Reflect on what you want. If you future career is in high demand, it may not be worth it to pay and pursue a "top" level school. Plenty of schools will provide an amazing education. Look at which schools recruiters in your future field value.</li>
                
                </li>
            </ul>
    </div>
</main>
{% endblock %}