---
eleventyComputed: 
    title: "Steps"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="inner-content">
    <h1 class="page-title">Steps</h1>
    <div class="steps-section">
        <p>This process can be very overwhelming but with organization and focus it will be a breeze.</p>
        <p>Text.</p>
        <div class="social-accounts">
            <ul>
                <li>
                    <a href="https://linkedin.com/in/quinntenorio" title="Linkedin" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-linkedin-in"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/qxorio" title="GitHub" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-github"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/16042247/qxorio" title="Stack Overflow" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-stack-overflow"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/qxorio" title="Dribbble" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-dribbble"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://behance.net/qxorio" title="Behance" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-behance"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/qxorio" title="Twitter" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-twitter"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/quinn.tenorio" title="Instagram" target="_blank">
                        <span aria-hidden="true"><i class="fa-brands fa-instagram"></i></span>
                    </a>
                </li>
                <li>
                    <a href="mailto:hey@quinntenor.io" title="Email" target="_blank">
                        <span aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}