---
eleventyComputed: 
    title: "Templates"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="page-title">Templates</h1>
    <p>Here is a Google Sheets <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSRb_DzyJfHfFKGpmucaApZvjdKnfGT7DY1IJGYDBii08wU0gn1YLPoeko4JNxHZYrI_F07EgSK37JE/pubhtml?widget=true&amp;headers=false">template</a> for starting your college list and creating a preliminary ranking</p>
    <iframe width="1450" height="315" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSRb_DzyJfHfFKGpmucaApZvjdKnfGT7DY1IJGYDBii08wU0gn1YLPoeko4JNxHZYrI_F07EgSK37JE/pubhtml?widget=true&amp;headers=false"></iframe>
</main>
{% endblock %}