---
eleventyComputed: 
    title: "Templates"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="page-title">Templates</h1>
    <p>Here is a Google Sheets <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSRb_DzyJfHfFKGpmucaApZvjdKnfGT7DY1IJGYDBii08wU0gn1YLPoeko4JNxHZYrI_F07EgSK37JE/pubhtml?widget=true&amp;headers=false">template</a> for starting your college list and creating a preliminary ranking</p>
    <iframe width="1450" height="315" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSRb_DzyJfHfFKGpmucaApZvjdKnfGT7DY1IJGYDBii08wU0gn1YLPoeko4JNxHZYrI_F07EgSK37JE/pubhtml?widget=true&amp;headers=false"></iframe>
    <h1 class="page-title">Essays</h1>
    <p>Writing essays will be a vital part of your applications to schools and scholarships. They are a chance to show the admission team who you are. However, some schools and priotity applications will not require writing but most will at least require the Common App personal essay or one similar to it. Here are some general tips:</p>
 <div class="row">
        <div class="column">
    <ul>
        <li>Make sure that you show your voice</li>
            <ul>
                <li>A great way to sound unique is to start with a small anecdote</li>
            </ul>
        <li>Answer all parts of the prompt</li>
        <li>Use tools like Grammarly and friends/family to check your work</li>
        <li>Read your writting aloud</li>
        <li>Don't repeat information that is elsewhere in your application</li>
        <li>Vary your sentence structures and the way that you start them</li>
    </ul>
    </div>
    <div class="column">
    <ul>
        <li>Show, don't tell</li>
        <li>Highlight your accomplishments</li>
        <li>Show passion about what you are talking about</li>
        <li>Demonstrate that you have researched the school</li>
            <ul>
            <li>Mention programs, professor's research, unique opportunities, etc...</li>
            </ul>
        <li>Look at example essays for general style but stay unique</li>
        <li>Some should read more professional, others like you are telling a story</li>
    </ul>
    </div>
    </div>
</main>
{% endblock %}