---
eleventyComputed: 
    title: "Which Test"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="page-title">Which Test</h1>
    <p>Both the ACT and SAT are difficult tests. The easiest way to start studying for them is to take a practice test of each. PDF versions can be found all over the internet for free. While most students will focus on one of the tests, sometimes students will take both. Switching tests can improve scores as they are very similar. The list below provides the differences between the two.</p>
    <div class="row">
        <div class="column">
            <h2>ACT</h2>
            <ul>
                <li>English, Math (calculator), Reading, Science + Optional Essay</li>
                <li>2 hours and 55 minutes (3.5 hours with breaks)</li>
                <li>English has 4 passages</li>
                <li>Math asks about Algebra, Geometry, Trignometry, Probability, and Statistics</li>
                <li>Essay is argumentative in nautre, given a prompt and have to demonstrate high level analysis and thinking.</li>
                <li>Less time per question</li>
                <li>Scored 1 to 36</li>
                <li>Questions tend to be more curriculum based</li>
                <li>Math and science students tend to prefer</li>
            </ul>
        </div>
        <div class="column">
            <h2>SAT</h2>
                <ul>
                    <li>Reading, Writing & Language, Math (calculator and non-calculator)</li>
                    <li>3 hours (3.25 hours with breaks)</li>
                    <li>English has 5 passages</li>
                    <li>Math asks about Algebra, Geometry, Trignonomety, and Data Analysis</li>
                    <li>Essay has been removed as an option</li>
                    <li>More time per question</li>
                    <li>Scored 400 to 1600</li>
                    <li>Questions tend to be more conceptually based</li>
                    <li>English and history students tend to prefer</li>
                    <li>Digital version starting Spring 2023: adaptive, shorter duration, only calculator math, computers provided</li>
                </ul>
        </div>
    </div>
    <hr class="solid">
    <p>Tests are very difficult and performance can also be based on the qeustions asked on a particular version. There are many resources that are availble for studying, in addition the practice tests. Below is a list of the different types and some pros and cons. Reflect on the way you learn best, your availble time, and what fits your budget.</p>
    <ul>
        <li><a href="https://www.khanacademy.org/sat/confirmed">Khan Academy</a></li>
            <ul>
                <li>Pros: Free, Can link with <a href="https://satsuite.collegeboard.org/sat">CollegeBoard</a> Account for targeted practice, online, creatable study schedule, has prep for the new digital SAT</li>
                <li>Cons: Questions can be a little easier, no teacher to answer specific questions</li>
            </ul>
        <li>Test Prep Courses (<a href="https://www.princetonreview.com/college/sat-test-prep?ceid=tersh-nav-honors-course">Princeton Review</a>, <a href="https://www.collegedrive.com/test-preparation/?gclid=CjwKCAiAqt-dBhBcEiwATw-ggOCxdge6PLmKkT71q8PRXsv7aibYzrMXgBdGJGEEg8uSj7QXq2flaxoCaAMQAvD_BwE">CollegeDrive</a>, <a href="https://www.kaptest.com/sat/courses/unlimited-prep?gclid=CjwKCAiAqt-dBhBcEiwATw-ggNkwB004L__rxvWOZcBS6E824mSECgom8JiVfbBEnKVGVN3y94FfyBoCcyIQAvD_BwE&gclsrc=aw.ds">Kaplan</a>, etc...)</li>
            <ul>
                <li>Pros: Can be very helpful, more active engagment, teacher to answer questions, online/remote possiblities</li>
                <li>Cons: Pricing, availability, not every student benefits from structured learning</li>
            </ul>
        <li>Self-Paced Courses (<a href="https://1600.io/">1600.io</a>, <a href="https://www.prepscholar.com/?gclid=CjwKCAiAqt-dBhBcEiwATw-ggGjDU2NT1B92kU07cREHpUfqtUq__YSI1QkTGRk-DhZxfSj16BpZehoCF3EQAvD_BwE">PrepScholar</a>, etc...)</li>
            <ul>
                <li>Pros: Flexability, cheaper than teacher-based classes, availability</li>
                <li>Cons: No teacher to answer specific questions, pricing</li>
            </ul>
        <li>Books & Flashcards</li>
            <ul>
                <li>Pros: Quick review, flexability, easy to use</li>
                <li>Cons: Pricing, dull, heavy</li>
            </ul>
    </ul>
</main>
{% endblock %}